@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* -------------------------------
   Global font: Alexandria
--------------------------------*/

body {
  font-family: "Alexandria", sans-serif;
  background-color: #F7F8F7; /* neutral-100 */
  color: #161717; /* neutral-900 */
}

